/node_modules/
npm-debug.log
split*
boundaries*
fragments
keep.xml
data/
dump*
homesPerZipReport.csv
homeFolders
user-images/
images/
tmp/
tempAutocomplete/
startTime.txt
autocompleteTime.txt
downloadedHomes.xml
.DS_Store
delete*
Graphics*
boundaries/
boundaries*