<div class="col-md-6">
  <div class="score-sample"></div>
  <p class="nudge">The Cruvita School Score ranges from 0 (the best score possible) to 10,000+. An additional letter grade of A+ to F- makes it easier for home shoppers to quickly identify how a school ranks. Over 85,000 have been ranked by Cruvita, with the grading information coming from the United States Department of Education, the United States Census Bureau, and current home sales trends. To find out more about Cruvita, go to the learn more page.</p>
</div>
<div class="col-md-6">
  <div class="medal-sample"></div>
  <p>The Cruvita Medal of Excellence is another way to help you find the best schools around. Medals are awarded based on 3 rankings in separate locales: city/county, state and nation . A Gold Medal of Excellence goes to the top 5% of schools in an area. Silver Medal of Excellence to the top 10%, and Bronze Medal of Excellence to the top 25% of schools in an area. The Cruvita School Scores are tabulated using data from The United States Department of Education, The United Statues Census Bureau and current home sale trends.</p>
</div>
<div class="clearfix"></div>
