<div class="footer-inner">
  <div class="links social">
    <span class="link"><a href="https://www.facebook.com/Cruvita.Score" rel="publisher" target="_blank"><fa name="facebook-square"></fa></a></span>
    <span class="link"><a href="https://plus.google.com/111883509410505705073" rel="publisher" target="_blank"><fa name="google-plus-square"></fa></a></span>
    <span class="link"><a href="https://www.twitter.com/CruvitaScore" rel="publisher" target="_blank"><fa name="twitter-square"></fa></a></span>
    <span class="link"><a href="https://www.linkedin.com/company/cruvita-com" rel="publisher" target="_blank"><fa name="linkedin-square"></fa></a></span>
    <span class="link"><a href="https://www.pinterest.com/cruvita/" rel="publisher" target="_blank"><fa name="pinterest-square"></fa></a></span>
  </div>
  <div class="links site">
    <span class="link"><a ng-href="/areas">Areas</a></span>
    <span class="link"><a ng-href="/sales">Sales</a></span>
    <span class="link"><a ng-href="/feedback">Feedback</a></span>
    <span class="link"><a ng-href="/pp">Privacy Policy</a></span>
    <span class="link"><a ng-href="/tos">Terms</a></span>
  </div>
</div>
<div class="footer-secondary" ng-controller="FooterCtrl">
  <div class="links link-lists-schoolsD">
    <h6>Schools Districts</h6>
    <ul>
      <li ng-repeat="location in footerSchoolAreas"><a ng-href="/results?location={{location.name | lowercase}}-s&tab=schools">School Districts in {{location.name | titleCase}}</li>
    </ul>
    <a href="#" ng-click="readMoreSchoolsD();" class="schoolD-more">More<fa name="angle-down"></a>
  </div>
  <div class="links link-lists-schoolsR">
    <h6>School Rankings</h6>
    <ul>
      <li ng-repeat="location in footerSchoolAreas"><a ng-href="/rankings?edLevel=4&location={{location.name | lowercase}}&type=state">School Rankings in {{location.name | titleCase}}</li>
    </ul>
    <a href="#" ng-click="readMoreSchoolsR();" class="schoolR-more">More<fa name="angle-down"></a>
  </div>
</div>