html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title='Cruvita Password Recovery'
    body= 'Here is the link to resolve your password: www.cruvita.com/restorePassword?key=' + resetPassword
      