<div class="navbar navbar-static-top">
    <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="http://blog.cruvita.com" target="_self"><div class="cruvitaLogo"></div></a>
    </div>

    <div class="search-container col-xs-3 col-sm-3 col-md-3">
      <form name="siteSearch">
        <input id="search-field" class="search" placeholder="Search for Posts"/>
      </form>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
      <ul class="headerMenu nav navbar-nav">
        <li>
          <a href="http://www.cruvita.com" target="_blank">Search for Homes</a>
        </li>
        <li>
          <a href="/">Articles</a>
        </li>
        <li>
          <a href="http://www.cruvita.com/learn" target="_blank">Learn More</a>
        </li>
        <li>
          <a href="http://www.cruvita.com/rankings" target="_blank">School Rankings</a>
        </li>
        <li>
          <a href="http://www.cruvita.com/sales" target="_blank">Sales</a>
        </li>
      </ul>
    </div>
</div>