<div class="searchOptions desktop" ng-if="!deviceDetector.isMobile()">
  <div class="col-md-offset-1 col-md-11 no-padding">
    <ul class="advMenu nav navbar-nav">
      <li class="dropdown" uib-dropdown is-open="config.advancedSchoolFilters.edLevel.isopen" ng-show="mapModel.active === 0">
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          {{filterModel.schoolFilters.edLevel.label}} <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu role="menu" class="dropdown-menu" ng-click="$event.stopPropagation()">
          <li role="menuitem" ng-click="schoolTypeChange(choice.value)" ng-repeat="choice in config.advancedSchoolFilters.edLevel.options">
            <a>{{choice.label}} <i class="fa fa-check" ng-if="filterModel.schoolFilters.edLevel.label === choice.label"></i></a>
          </li>
        </ul>
      </li>

      <li class="dropdown" uib-dropdown is-open="config.advancedSchoolFilters.score.isopen" ng-show="mapModel.active === 0">
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          {{filterModel.schoolFilters.score.label ? filterModel.schoolFilters.score.label : 'Score'}} <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-menu-right dropdown-scroll" ng-click="$event.stopPropagation()">
          <li role="menuitem" ng-click="setScoreFilter(choice, 'score')" ng-repeat="choice in config.advancedSchoolFilters.score.options">
            <a>{{choice.label}} <i class="fa fa-check" ng-if="filterModel.schoolFilters.score === choice"></i></a>
          </li>
        </ul>
      </li>
      <!-- <li ng-click="saveSearch()">
        |<a>Save Search</a>
      </li> -->
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
<div class="searchOptions mobile" ng-if="deviceDetector.isMobile()">
  <div class="navbar-header">
    <div class="adv-menu-toggle" ng-click="menu.isCollapsed = !menu.isCollapsed">
      Filters<span class="caret"></span>
    </div>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="menu.isCollapsed">
    <ul class="advMenu nav navbar-nav">

      <li class="dropdown" uib-dropdown is-open="config.advancedSchoolFilters.edLevel.isopen" ng-show="mapModel.active === 0">
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          {{filterModel.schoolFilters.edLevel.label}} <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu role="menu" class="dropdown-menu" ng-click="$event.stopPropagation()">
          <li role="menuitem" ng-click="schoolTypeChange(choice.value)" ng-repeat="choice in config.advancedSchoolFilters.edLevel.options">
            <a>{{choice.label}} <i class="fa fa-check" ng-if="filterModel.schoolFilters.edLevel === choice"></i></a>
          </li>
        </ul>
      </li>

      <li class="dropdown" uib-dropdown is-open="config.advancedSchoolFilters.score.isopen" ng-show="mapModel.active === 0">
        <a href class="dropdown-toggle" uib-dropdown-toggle>
          Score {{filterModel.schoolFilters.score.label}} <span class="caret"></span>
        </a>
        <ul uib-dropdown-menu role="menu" class="dropdown-menu dropdown-scroll" ng-click="$event.stopPropagation()">
          <li role="menuitem" ng-click="setScoreFilter(choice, 'score')" ng-repeat="choice in config.advancedSchoolFilters.score.options">
            <a>{{choice.label}} <i class="fa fa-check" ng-if="filterModel.schoolFilters.score === choice"></i></a>
          </li>
        </ul>
      </li>
<!--       <li ng-click="saveSearch()">
        |<a>Save Search</a>
      </li> -->
    </ul>
  </div>