.terms-of-service{
  margin-top: 53px;
  padding-bottom: 25px;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.24);
  box-shadow: 0px 4px 8px -1px rgba(0,0,0,0.24);
  border-radius: 0 0 5px 5px;

  @media (max-width: 992px){
    .pge-divider {
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      min-height:0;
    }
  }

  .well {background-color: white;}
  .special {padding-top: 10px;color: red;}
}