<div class="schoolList">
  <h1 class="page-h1">Browse School Districts in {{mapModel.currentLocation.dispName | titleCase}}
    <ul class="share-icons">
  <!--     <li fb-like="schoolShare.Url"></li>
   -->    <li tweet="schoolShare.Name" tweet-url="schoolShare.Url"></li>
  <!--     <li google-plus="schoolShare.Url"></li>
   -->  </ul>
  </h1>
	<div class="no-padding" schools="schoolModel.schools" ng-if="schoolModel.schools.results" map="true" update-schools="schoolModel.updateSchools()" select-school="setSchool(school)" unselect-school="removeLocation()" ranking="false"></div>
</div>